// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

[v-cloack] {
	display: none;
}

.card-header.unread {
	background-color: #e0e0e0;

	h4 {
		font-weight: bold;
	}
}
